# https://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{sh,bash}]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
indent_size = 4

[justfile]
indent_style = space
indent_size = 4

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{yaml,yml}]
indent_style = space
indent_size = 2

[*.toml]
indent_style = space
indent_size = 4

[*.{ini,cfg,conf}]
indent_style = space
indent_size = 4

[*.{xml,plist}]
indent_style = space
indent_size = 2

[*.{html,htm,css,scss}]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
